/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap'); /*"Koulen", cursive*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --dark-blue: rgb(0, 86, 148);
    --white-smoke: rgb(231, 228, 228, 0.897);
    --black: rgb(0, 0, 0);
    --gray-smoke: rgba(63, 56, 56, 0.952);
    --none:rgba(167, 194, 192, 0.747);
}

body{
    background-color: var(--none);
}



nav{
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 50px  0;

}

nav img{
    width: 160px;
    padding: 6px;
}


.menu ul{
    display: flex;
    list-style: none;
    font-size: 15px;
    border-radius: 10px;
   
}

.menu ul li{
    margin: 15px;
    font-weight: bold;
    cursor: pointer;

}

.menu ul li a{
    text-decoration: none;
    color: var(--dark-blue);
}

.menu ul li:hover{
    border-radius: 0 5px 0 ;
    background-color: aliceblue;
    
}

h1{
    font-family: 'Oswald', sans-serif;
    color: var(--dark-blue);
    font-size: 3em;
    padding: 10px 30px;
}

.container{
    /* padding: 100px 225px; */
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.botones{
    /* display: flex;
    align-items: center;
    justify-content:space-around; */
    height: 300px;
    width: 700px;
    /* margin: 100px; */
}

.botones{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones .columna{
    
}


.columna {
    background-color: var(--dark-blue);
    height: 110px;
    width: 250px;
    border-radius: 20px 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.columna a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--black);
    
}


